#include <cs50.h>
#include <stdio.h>

void mario(int n);

int main(void)
{
    int n = get_int("Block height:");
    while (n > 8 || n < 1)
    {
        n = get_int("Block height:");
    }
    mario(n);
}

void mario(int n)
{
    int a = 1;
    int m = n - a;
    int b = m;
    while (a <= n)
    {
        while (m > 0)
        {
            printf(" ");
            m--;
        }
        for (int i = a; i > 0;)
        {
            printf("#");
            i--;
        }
        printf("  ");
        for (int i = a; i > 0;)
        {
            printf("#");
            i--;
        }
        a++;
        printf("\n");
        b--;
        m = b;
    }
}
